body {
    background: #f8e8a6;
  }
  
  h1, h2, h3,
  p {
    text-align: center;
  }
  
  .croissant-photo {
    max-width: 100%;
    border-radius: 10px;
    display: block;
    margin: 30px auto;
  }
  
  .link, footer {
    text-align: center;
  }
  .link{ 
    color: orangered;
  }
  .link:hover{
    color: red;
  }
  
  footer a {
    margin: 0 10px;
    color: green;
  }
  